@model List<Project1Portfolio.Models.Message>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Gelen Mesajlar</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MessageId</td>
            <td>@item.Name</td>
            <td>@item.Subject</td>
            <td>@item.SendDate</td>
            <td>@item.Category.CategoryName</td>
            @if (item.IsRead == false)
            {
                <td><a href="/Message/MessageStatusChangeToTrue/@item.MessageId" class="btn btn-info">Okundu Olarak İşaretle</a></td>
            }
            else
            {
                <td><a href="/Message/MessageStatusChangeToFalse/@item.MessageId" class="btn btn-warning">Okunmadı Olarak İşaretle</a></td>
            }

            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="/Message/MessageDetails/@item.MessageId" class="btn btn-secondary">Mesajı Aç</a></td>
        </tr>
    }
</table>